In [3]:

def add_num(name,num1, num2=6):
    sum = num1 + num2
    print(f"{name} total is {sum}")

In [4]:
add_num("Hammad",4,5)

Hammad total is 9

In [5]:
add_num("Hammad Afridi",4,5)

Hammad Afridi total is 9

In [6]:
num1 = int(input("Enter a num: "))
num2 = int(input("Enter a num: "))  
add_num("Qasim",num1,num2)

Qasim total is 2

In [7]:
def add_num(name, *nums):
    print(name)
    print(*nums)

In [8]:
add_num("Hammad",4,5,4,7,8,9)

Hammad
4 5 4 7 8 9

In [9]:
def add_num(name, *nums):
    summ = sum(nums)    
    print(summ)

In [10]:
add_num("Hammad",4,5,4,2,5,3,7)

30

In [11]:
def add_num(name, *nums): 
    result = 0  
    for num in nums:
        result += num
    print(f"{name} total is {result}")

In [12]:
add_num("Hammad" , 4,5,4,2,5,9,7)

Hammad total is 36

In [13]:
def add_num(name, **nums):
    result = 0  
    for val in nums.values():
        result += val       
    print(f"{name} total is {result}")

In [14]:
add_num("Hammad",num=4,num2=5,num3=4,num4=7 ,num5=8,num6=9)

Hammad total is 37

In [15]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1) 
    
print(factorial(5))

120

In [16]:
# while loop syntax and write a code of finding  factorial using while loop in python

def factorial(n):
    result = 1
    while n > 1:
        result *= n
        n -= 1
    return result

print(factorial(5))

120

In [17]:
# Factorial using while loop

num = int(input("Enter a number: "))
fact = 1
i = 1

while i <= num:
    fact = fact * i
    i = i + 1

print("Factorial of", num, "is:", fact)

Factorial of 1 is: 1

In [18]:
print("Hello, World!")

Hello, World!

In [19]:
user_input = "Hammad Afridi"
while (user_input != "exit"):
    user_input = input("Enter something (type 'exit' to quit): ")
    print("You entered:", user_input)

You entered: 1
You entered: quit
You entered: exit

In [20]:
class MyClass:
    def __init__(self,Bike,Car,Plane,name):
        self.Bike = Bike
        self.Car = Car
        self.Plane = Plane
        self.name = name

    def MyClass_Bike(self): 
        print(f"{self.name} has a {self.Bike}") 

    def MyClass_Car(self): 
        print(f"{self.name} has a {self.Car}")

    def MyClass_Plane(self): 
        print(f"{self.name} has a {self.Plane}")

In [21]:
MyClass_object = MyClass("Bike", "Car", "Plane" ,"Hammad")

In [22]:
MyClass_object.MyClass_Bike()
MyClass_object.MyClass_Car()
MyClass_object.MyClass_Plane()

Hammad has a Bike
Hammad has a Car
Hammad has a Plane

In [23]:
def add(num1,num2):
    return num1 + num2
print(add(4,5))

9

In [24]:


# complex lambda function if marks greater than 50 then pass otherwise fail

marks = int(input("Enter your marks: "))
result = lambda marks: "Pass" if marks >= 50 else "Fail"
print(result(marks))

ValueError: invalid literal for int() with base 10: 'exit'

In [ ]:
# explaining map fuction in python
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

In [ ]:
# reduce function in python
from functools import reduce
result = reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])
print(result)  # Output: 15

15

In [ ]:
# sorted function in python
numbers = [5, 2, 9, 1, 5, 6]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 2, 5, 5, 6, 9]

In [ ]:
# oops in python
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        return "Woof!"

my_dog = Dog("Buddy", 3)
print(my_dog.name)  # Output: Buddy
print(my_dog.bark())  # Output: Woof!

Buddy
Woof!

In [ ]:
class Saylani:
    # class variables
    helpline = "123456789"
    obj_count = 0
    def __init__(self, campus, staff_count, course_count):
        self.campus = campus
        self.staff_count = staff_count
        self.course_count = course_count
        Saylani.obj_count += 1
    
    def info(self,courses):
        print( f"Saylani Campus: {self.campus}, Staff Count: {self.staff_count}, Course Count: {self.course_count}")
        print(f"Courses Offered: {', '.join(courses)}")
        print(type(courses))
    @staticmethod
    def get_helpline():
        return Saylani.helpline

In [ ]:
Saylani.get_helpline()

'123456789'

In [ ]:
Saylani.helpline

'123456789'

In [ ]:
# making object of class
za = Saylani("Za it park", 100, 20)
# print(za.info())

In [ ]:
za.info(["Web Development", "Data Science", "Cyber Security"])

Saylani Campus: Za it park, Staff Count: 100, Course Count: 20
Courses Offered: Web Development, Data Science, Cyber Security
<class 'list'>

In [ ]:
bahadurabad = Saylani("Bahadurabad", 80, 15)

In [ ]:
za.helpline

'123456789'

In [ ]:
za.obj_count

2

In [ ]:
# name of oops pillars in python
1. Encapsulation
2. Abstraction
3. Inheritance
4. Polymorphism

In [ ]:
#  create a class of cars with three atributes and two methods such that one method should be static also 2 class variables and one should dynamic
class Car:
    # class variables
    wheels = 4
    doors = 4

    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def car_info(self):
        return f"{self.year} {self.make} {self.model} with {Car.wheels} wheels and {Car.doors} doors."

    @staticmethod
    def car_sound():
        return "Vroom Vroom!"

In [25]:
# creating object of Car class
my_car = Car("Toyota", "Camry", 2020)
print(my_car.car_info())  # Output: 2020 Toyota Camry1 with 4 wheels and 4 doors.
print(Car.car_sound())    # Output: Vroom Vroom!

NameError: name 'Car' is not defined